{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-numeric-separator",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "displayName": true,
        "fileName": true
      }
    ]
  ]
}
